h1, h2, h4 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.AlbumList {
  list-style-type: none;
  padding: 0;
  width: 40%;
}

.AlbumList li {
  padding: 10px 20px;
  border: 1px solid #eee;
}

.AlbumsContainer {
  padding: 10px 20px;
}

.AlbumsContainer-heading {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 20px;
}

.AlbumsContainer-heading h1 {
  margin: 0;
}

.AlbumsContainer-heading button {
  margin-left: 100px;
  margin-top: 5px;
}

.AlertMessage {
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px
}

.AlertMessage .fa {
  font-size: 20px;
  margin-right: 4px;
}

.AlertMessage.success {
  border: 1px solid #689f38;
  background-color: #f1f8e9;
}

.AlertMessage.success .fa {
  color: #689f38;
}

.AlertMessage.error .fa {
  color: #e53935;
}

.AlertMessage.error {
  border: 1px solid #e53935;
  background-color: #ffebee;
}

.Loader {
  margin: 20px 0;
}

.AlbumForm button {
  margin-left: 5px;
  width: 80px;
  height: 25px;
}

.AlbumForm-input {
  height: 18px;
  padding-left: 4px;
}